.centered {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .bg-black{
    background-color: rgb(20, 18, 18);
  }

  .border-black{
    border-color: black;
  }

  .btn_dashboard{
    color: white;
    border-color: white;
    background-color: black;
    margin-top: 10%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
    width: 40%;
  }

  .btn_myaccount{
    color: white;
    border-color: white;
    background-color: black;
    margin-top: 10%;
    margin-bottom: 12%;
    padding-left: 4%;
    padding-right: 4%;
    height: 15%;
    border-radius: 10px;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #join_now{
    color: white;
    border-color: white;
    background-color: black;
    margin-top: 10%;
    margin-bottom: 12%;
    padding-left: 4%;
    padding-right: 4%;
    height: 10%;
    border-radius: 10px;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #dashboard_bottom_text1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    margin-top: 1%;
  }

  #dashboard_bottom_text2{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
  }

  .warzoom{
    font-size: 100px;
    color: red;
    font-family: 'Times New Roman', Times, serif;
  }

  .stripe_background{
    background-image: url('/imgs/cc_background.jpg');
    background-size:100% 100%;
  }

  .skinpurchase_bg{
    background-color: black;
  }

  @font-face{
    font-family: "minisystem";
    src: url('/fonts/trade-winds/TradeWinds-Regular.ttf');
  }

  #dashboard_para{
    /* word-break: break-all;  */
    text-align:justify; 
    font-size:160%; 
    font-family:'minisystem';
    color: rgb(233, 233, 233);
  }

  .justify{
    word-break: break-all; 
    text-align:justify; 
  }

  .text-red{
    color: red;
  }

  .text-white{
    color: white;
  }

  .btn-skin-purchase{
    border: solid 3px white;
    color: rgb(240, 238, 236);
    position: relative;
    z-index: 0;
    border-radius: 10px;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-size: medium;
    background-color: rgb(102, 62, 14);
  }

  .btn-skin-purchase:hover{
      background-color:  rgb(58, 37, 11);
  }

  
  .btn-skin-purchased{
    border: solid 3px white;
    color: rgb(240, 238, 236);
    position: relative;
    z-index: 0;
    border-radius: 10px;
    touch-action: manipulation;
    font-size: medium;
    background-color: rgb(232, 15, 40);
  }


/* .btn-skin-purchase:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
} */

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.btn-skin-purchase:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.minisystem{
  font-family: 'minisystem';
}

.bg-skin-row{
  background-color: #66706f;
}

.bg-skin-row:hover{
  background-color: rgb(24, 22, 22);
}

#skin-mid-bg{
  background-color: #5D4037;
  border: solid 5px white;
  border-radius: 1%;
  background-image: linear-gradient(180deg, #e44d1f, rgb(38, 22, 2));

}

#available_skins{
  font-family: minisystem;
  width: 60%;
  background-color: #55bb07;
  border:solid 5px rgb(237, 242, 236);
  border-radius: 30%;
  margin-top: 2rem;
  /* margin-bottom: 2rem; */
  padding-top: 1rem;
  padding-bottom: 1rem;  
  color: aliceblue;
}

#available_skins:hover{
  color: rgb(40, 38, 38);
}

td, tr, th{
  border: solid 1px black;
  text-align: center;
}

td{
  width: 20%;
}

tr{
  height: 50px;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}

